.startup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #021314;
  z-index: 1001;

  .logo-container {
    --size: 164px;
  }
}


@keyframes rotation{
  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }
}
.rotate{
  animation: rotation infinite 3s linear;
}